DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=daily_challenge

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8080

RUST_LOG=debug,api=debug,tower_http=debug,tower_governor=info,sqlx=warn

JWT_SECRET=your-jwt-secret-key
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=15

REFRESH_TOKEN_EXPIRY_DAYS=7

SQLX_OFFLINE=true
